.temporal-time-machine-container {
  font-family: sans-serif;
  text-align: center;
}
.temporal-time-machine-container h2 {
  font-weight: normal;
}
.temporal-time-machine-container img {
  height: 75px;
}
.temporal-time-machine-widget {
  position: fixed;
  bottom: 0;
  left: 5px;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 auto;
  width: 230px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
     -moz-box-shadow: 2px 2px 2px #ccc;
       -o-box-shadow: 2px 2px 2px #ccc;
          box-shadow: 2px 2px 2px #ccc;
}
.temporal-time-machine-widget * {
  box-sizing: initial;
}
.temporal-time-machine-widget *:focus {
  outline: none;
}
.temporal-time-machine-widget .temporal-time-machine-header {
  cursor: pointer;
  background: #2E8EB3;
  padding: 10px;
  color: #f6f6f6;
  opacity: .9;
  position: relative;
  -webkit-border-top-left-radius: 3px;
     -moz-border-top-left-radius: 3px;
       -o-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
     -moz-border-top-right-radius: 3px;
       -o-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-transition: all, 0.3s;
     -moz-transition: all, 0.3s;
       -o-transition: all, 0.3s;
          transition: all, 0.3s;
}
.temporal-time-machine-widget .temporal-time-machine-header:hover {
  background: #17607d;
}
.temporal-time-machine-widget .temporal-time-machine-header:before,
.temporal-time-machine-widget .temporal-time-machine-header:after {
  display: block;
  content: '';
  clear: both;
}
.temporal-time-machine-widget .temporal-time-machine-header img {
  height: 30px;
  width: 30px;
  padding-right: 7px;
  position: absolute;
  font-size: 200%;
  line-height: .5em;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
}
.temporal-time-machine-widget .temporal-time-machine-header h2 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  float: left;
}
.temporal-time-machine-widget .temporal-time-machine-header h2 a {
  color: white;
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-left: 35px;
}
.temporal-time-machine-widget .temporal-time-machine-header .temporal-time-machine-icon {
  padding-right: 10px;
  vertical-align: middle;
}
.temporal-time-machine-widget .temporal-time-machine-header .temporal-time-machine-icon-disabled {
  opacity: .5;
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
}
.temporal-time-machine-widget .temporal-time-machine-body {
  position: relative;
}
.temporal-time-machine-widget .temporal-time-machine-body div {
  float: left;
  text-align: center;
  width: 100%;
}
.temporal-time-machine-widget .temporal-time-machine-body button {
  background: whitesmoke;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.5em 0;
  width: 100%;
}
.temporal-time-machine-widget .temporal-time-machine-body input {
  box-sizing: border-box;
  font-size: 13px;
  border: none;
  padding: 0.5em;
  width: 100%;
}

.temporal-time-machine-alignment-left {
}
.temporal-time-machine-alignment-center {
  left: 0;
  right: 0;
}
.temporal-time-machine-alignment-right {
  left: initial;
  right: 5px;
}
